#fashionProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    padding-bottom: 150px;
    h1 {
        margin-bottom: 50px;
    }
    img {
        width: 270px;
        margin: 5px;
        cursor: pointer;
    }
}

.infosProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    span {
        color: #ff5252;
        font-weight: bold;
    }
    #infos {
        text-align: center;
        margin: 20px;
    }
    .salePrice {
        color: grey;
        text-decoration: line-through;
    }
}

.infosProducts1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px !important;
    span {
        color: #ff5252;
        font-weight: bold;
    }
}

#sale {
    border-radius: 100%;
    background-color: #ff5252;
    padding: 30px 20px;
    color: white;
    font-size: 15px;
}

.carouselButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    input {
        width: 18px;
        height: 18px;
    }
}

// Media Query

// Smartphone
@media screen and (max-width: 640px) {
    #fashionProducts {
        h1 {
            text-align: center;
            margin: 15px;
        }
        img {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-top: 30px;
            padding: 0;
        }
    }
}

// Laptop and tablets
@media (min-width: 768px) and (max-width: 1280px) {
}
