.infoCustomers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.infoCust {
    text-align: center;
    background-color: #f3f2f3;
    padding: 50px 70px;
    font-size: 15px;
    &:hover {
        background-color: #dd4545;
        color: white;
    }
    button {
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: #343a40;
        color: white;
        padding: 10px 15px;
        &:hover {
            background-color: white;
            color: black;
        }
    }
}
