.section3cent{
    display: flex;
    margin-top: 40px;
}

.Living{
    background-image: url(../../../public/img/services/service-1.jpg);
    height: 200px;
    width: 33%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 0;
}
.Living h5{
    font-size: 30px;
    text-align: center;
    color: white;
}
.Living h4{
    width: 80%;
    border-bottom: solid 3px white;
    height: 20px;
    transition: 2s;
}

.Living h4:hover{
    width: 10%;
    transition: 3s;

}
.sale{
    background-image: url(../../../public/img/services/service-2.jpg);
    height: 200px;
    width: 33%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 0;
    
}
.sale h5{
    font-size: 30px;
    text-align: center;
    color: white;

}
.sale h4{
    width: 80%;
    border-bottom: solid 3px white;
    height: 20px;
    transition: 2s;
}

.sale h4:hover{
    transition: 3s;
    width: 10%;
}

.clothes{
    background-image: url(../../../public/img/services/slider-3.jpg);
    height: 200px;
    width: 33%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 0;
}
.clothes h5{
    font-size: 30px;
    text-align: center;
    color: white;
}
.clothes h4{
    width: 80%;
    border-bottom: solid 3px white;
    height: 20px;
    transition: 2s;
}

.clothes h4:hover{
    width: 10%;
    transition: 3s;
}